/* ---------------------- ESTILOS GENERALES ---------------------- */
html, body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;

  }

  main {
    flex: 1;
    z-index: 0;
    position: relative;
    margin-top: -10px;
  }

  .layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  header, footer {
    flex-shrink: 0;
  }

  .main-scrollable {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
  }

  .background-carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  .background-carousel-mvl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }

  .bg-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    filter: blur(50px);
    transform: scale(1);
    transition:
      opacity 2s ease-in-out,
      filter 1s ease-in-out,
      transform 2s ease-in-out;
  }

  .bg-slide.active {
    opacity: 1;
    filter: blur(0);
    transform: scale(1.05);
  }


  .bg-slide.active {
    opacity: 1;
  }

  .background-carousel::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* oscurece un poco */
    z-index: 1;
  }

  .background-carousel-mvl::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* oscurece un poco */
    z-index: 1;
  }

  body.static-page {
    background-image: url("../img/gym.webp"); /* ajusta la ruta si es necesario */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  body.contact-page::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* oscurece un poco */
    z-index: 0;
  }

  .background-carousel-mvl {
    display: none;
}

/* Solo mostrar en pantallas de hasta 768px (móviles) */
@media (max-width: 768px) {
    .background-carousel {
        display: none;
    }

    .background-carousel-mvl {
        display: block;
    }
}


  /* ---------------------- HEADER Y NAVEGACIÓN ---------------------- */
  header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #000000 0%, #2b2a28 50%, #000000 100%);
    color: #fff;
    border-radius: 0 0 25% 25%;
    z-index: 10;
    flex-wrap: wrap;
    box-shadow:
    0 1px 0 #9e9b9b,
    0 5px 0 #2e2e2e,
    0 10px 0 #8d8d29;
    z-index: 1;
    position: relative;
  }

  .logo .agdc {
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -8px;
  }

  .logo .fitness {
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -2px;
  }

  .logo a {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    margin-left: 7vh;
    text-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    3px 3px 0 #5a4a28;
  }

  .logo a:hover {
    transform: scale(1.1);
    color: #FFD700;
  }

  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
  }

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: -1.5px;
    text-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #42442a;
  }

  nav ul li {
    margin-left: 10px;
    padding: 5px;
  }

  nav ul li a, nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
  }

  nav a:hover {
    transform: scale(1.2);
    color: #FFD700;
  }

  nav .nav_online{
    color: #cf5d1b;
    text-shadow:
    1px 1px 0 #615e5e,
    2px 2px 0 #2c2c2a;
    font-size: 1em;
  }

  .lang-switch.desktop-only {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    gap: 5px;
    z-index: 1000;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
    text-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    1px 2px 0 #353531;
    box-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    4px 3px 0 #52271a;
  }

  .btn:hover {
    transform: scale(1.05);
  }


 /* ---------------------- IDIOMAS ---------------------- */
  .lang-switch {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
  }

  .lang-switch img {
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    transition: transform 0.2s ease;
    box-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    3px 3px 0 #5a4a28;
  }

  .lang-switch img:hover {
    transform: scale(1.2);
  }

  /* ----------------- INSTAGRAM BOTÓN ------------------- */
.instagram-btn {
    display: flex;
    align-items: center;
    gap: 5x;
    background: linear-gradient(135deg, #d63a6e 0%, #fd125d 50%, #d63a6e 100%);
    color: white;
    padding: 10px 10px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 10px;
    text-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    1px 2px 0 #353531;
    box-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    2px 3px 0 #631256;

  }

  .instagram-btn img {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    box-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    3px 3px 0 #e9e8dc;
  }

  .instagram-btn:hover {
    transform: scale(1.1);
    background-color: #ff4d88;
  }

  /* ------------------- MENÚ HAMBURGUESA ------------------- */
  .hamburger {
    display: none;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    3px 3px 0 #5a4a28;
  }

  @media (max-width: 1360px) {
    .hamburger {
      display: block;
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 1001;
      transition: color 1.5s ease;
    }

    .hamburger a {
        transition: all 1.5s ease;
      }

    .hamburger:active {
        transform: scale(1.1);
        margin-left: 2vh;
    }

    .hamburger.open {
        color: #FFD700;
        transform: scale(1.1);
        margin-left: 2vh;
    }

    nav#nav-menu {
        margin: 0 auto;
        display: none;
        position: absolute;
        top: 50px;
        right: 20px;
        background: linear-gradient(135deg, #000000 0%, #2b2a28 50%, #000000 100%);
        border-radius: 12px;
        padding: 10px 10px 20px;
        border: 1px solid #464646;
        z-index: 1000;
        text-align: center;
        max-width: 200px;
        max-height: 450px;
        box-shadow:
          1px 1px 0 #464646,
          2px 2px 0 #2e2e2e,
          3px 3px 0 #5a4a28;
      }

    nav#nav-menu.active {
      display: block;
    }

    nav#nav-menu ul {
      flex-direction: column;
      gap: 10px;
    }

    nav#nav-menu ul li {
      margin: 0;
      border-bottom: 0.5px solid #c5b34f;
    }

    nav#nav-menu ul li a {
      font-size: 1em;
      padding: 5px 10px;
      display: block;
    }
  }

  /* ---------------------- HERO ---------------------- */
  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    z-index: 1;
    text-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    1px 2px 0 #353531;
  }

  body.inicio .hero {
    height: 40vh;
    margin-bottom: 0;
  }

  .hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow:
      0px 5px 10px rgba(0, 0, 0, 0.6),
      0px -5px 10px rgba(0, 0, 0, 0.6);
  }

  .hero h1 {
    font-size: 2.5em;
    margin: 0;
  }

  .hero p {
    font-size: 1.2em;
    margin: 10px 0;
  }

  .btn-hero {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, #c55f25 0%, #db3e0e 50%, #c55f25 100%);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
    text-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    1px 2px 0 #353531;
    box-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    4px 3px 0 #52271a;
  }

  .btn-hero:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #c55f25 0%, #f37f12 50%, #c55f25 100%);
  }

  .hero-secondary {
    font-size: 1.5em;
    letter-spacing: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #bdb656;
    padding: 20px;
    z-index: 1;
    font-weight: 700;
  }

  .hero-secondary p {
    margin-top: 10px;
    font-size: 1.15em;

    color: #000000;
  }

  .hero-content-secondary {
    width:100vh;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow:
      0px 5px 10px rgba(0, 0, 0, 0.6),
      0px -5px 10px rgba(0, 0, 0, 0.6);
  }

  .hero-content-secondary h1 {
    font-size: 2em;
    margin: 5px;
    margin-bottom: 0;
    text-shadow:
    1px 1px 0 #5d643c,
    2px 2px 0 #2e2e2e,
    1px 2px 0 #353531;
    font-weight: 800;
  }


  /* ---------------------- SECCIONES ---------------------- */
  .section {
    padding: 20px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    margin: 10px;
    border-radius: 10px;
    box-shadow:
      0px 5px 10px rgba(0, 0, 0, 0.3),
      0px -5px 10px rgba(0, 0, 0, 0.3);
  }

  .section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

    .section p {
        font-size: 1.1em;
        color: #555;
    }

/* ---------------------- SERVICIOS ---------------------- */
    .section-services {
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.95);
    margin-inline: 5vh;
    margin-block: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px -5px 10px rgba(0, 0, 0, 0.3);
    }

    .section-services h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
    }

    .section-services p {
    padding: 20px 20px;
    white-space: pre-line; /* para que \n en JSON se vea como saltos de línea */
    font-size: 1.3rem;
    line-height: 1.6;
    }

    .section-services .services-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }

    .section-services .services-text {
    flex: 1 1 60%;
    }

    .section-services .services-image {
    bottom: 10px;
    flex: 1 1 20%;
    text-align: center;
    }

    .section-services .services-image img {
    max-width: 60%;
    height: auto;
    }


@media screen and (max-width:1024px) {
    .section-services {
    padding: 10px 10px;
    margin-inline: 5px;
    margin-block: 10px;
    border-radius: 8px;
    }

    .section-services h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;

    }

    .section-services p {
    font-size: 1rem;
    padding: 15px 10px;
    line-height: 1.5;
    }

    .section-services .services-content {
    flex-direction: column;
    }



}

  /* ----------------------CONTACTO Y FORMULARIO ---------------------- */
      .contact {
        letter-spacing: -2px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin: auto;
        box-sizing: border-box;
        font-size: 1.1em;
      }

      @media (max-width: 1260px) {
        .contact {
          grid-template-columns: 1fr; /* una sola columna en tablet/móvil */
        }
      }
      .contact-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 400px;
        margin: 0 auto;
        width: 90%;
        height: 300px;
      }

      .contact-form input,
      .contact-form textarea {
        padding: 12px 15px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        transition: border-color 0.3s ease;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }

      .contact-form input:focus,
      .contact-form textarea:focus {
        border-color: #050505;
        box-shadow: 0 0 5px rgba(37, 211, 102, 0.3);
      }

      .contact-form textarea {
        resize: none;
      }

      .contact-form .btn {
        align-self: flex-end;
        background-color: #25D366;
        border: none;
        padding: 12px 25px;
        font-size: 1em;
        cursor: pointer;
        border-radius: 8px;
        color: #fff;
        transition: background-color 0.3s ease;
      }

      .contact-form .btn:hover {
        background-color: #1da851;
      }

      /* ----------- CONTACTO: WhatsApp y Mail -------------- */
      .whatsapp-box, .contact-box {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background-color: #e6f9f0;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        max-width: 380px;
        margin: 10px auto;
        transition: transform 0.2s ease-in-out;
        font-size: 1.3em;
      }

      .whatsapp-box:hover, .contact-box:hover {
        transform: scale(1.03);
      }

      .whatsapp-box img, .contact-box img {
        border-radius: 12px;
        width: 50px;
        height: 50px;
      }

      .whatsapp-box span {
        font-size: 1.25em;
        color: #1cce5d;
        font-weight: bold;
      }

      .contact-box span {
        font-size: 1.25em;
        color: #3366cc;
        font-weight: 700;
      }

  /* ----------------- FOOTER ------------------ */
  footer {
    background: linear-gradient(135deg, #000000 0%, #2b2a28 50%, #000000 100%);
    padding: 20px;
    border-radius: 25% 25% 0 0;
    color: white;
    text-align: center;
    font-size: 0.8em;
    box-shadow:
    0 -1px 0 #9e9b9b,
    0 -5px 0 #2e2e2e,
    0 -10px 0 #8d8d29;
    margin-top: -10px;
    z-index: 0;
    position: relative;
  }

  .footer-link {
    color: #FFD700;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .footer-link:hover {
    color: #ffffff;
  }

  /* ----------------- INSTAGRAM ----------------- */
  .instagram-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #E1306C;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .instagram-btn img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }

  .instagram-btn:hover {
    transform: scale(1.1);
    background-color: #ff4d88;
  }

  /* ----------------- WIDGET RSS ---------------- */
  .section iframe {
    width: 100%;
    height: 600px;
    border: none;
    overflow: hidden;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
  }

  /* --------------- COOKIE POPUP ----------------- */
  .cookie-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #4b4848;
    color: #fff;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
  }

  .cookie-popup button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  }

  .cookie-popup button:hover {
    background-color: #1da851;
  }

  @media (max-width: 450px) {
    .cookie-popup {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      font-size: 1.25em;
    }
  }

  @media (min-width: 600px) {
    .cookie-popup {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }

  @media (min-width: 1025px) {
    .lang-switch,
    .instagram-btn {
      display: none;
    }
  }

  .desktop-only {
    display: flex;
  }
  .mobile-only {
    display: none;
  }

  /* ------------------ LOGIN ------------------ */
    .login-section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 10px 20px;
    }
    .title{
    text-decoration: underline;
    }

    .login-box {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    }

    .login-form input {
    width: 70%;
    padding: 15px;
    margin-inline: 5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    }

    .login-form input:focus {
    border-color: gray;
    outline: none;
    }

    .forgot {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    color: #666;
    text-decoration: none;
    }

    .forgot:hover {
    text-decoration: underline;
    }

    .login-message {
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    display: inline-block;
    max-width: 100%;
    }

    .btn-login {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, #c55f25 0%, #db3e0e 50%, #c55f25 100%);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    text-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    1px 2px 0 #353531;
    box-shadow:
    1px 1px 0 #464646,
    2px 2px 0 #2e2e2e,
    4px 3px 0 #52271a;
    }

    .btn-login:hover {
    transform: scale(1.05);
    }

    .password-wrapper {
        position: relative;
        display: flex;
        align-items: center;

    }
    .password-wrapper input {
        margin-block: 5%;
        margin-inline: 10%;
    }

    #togglePassword {
        position: absolute;
        right: 40px;
        cursor: pointer;
        color: #666;
        font-size: 15px;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }


  /* ----------------- PROFILE CARD ---------------- */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 2rem;
}

.profile-card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-height: 300px;
}

  .profile-card h1 {
    font-size: 2em;
    color: #222;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .profile-card .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .profile-card input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
  }

  .profile-card .button-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .profile-card .btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: 0.2s ease-in-out;
    margin-bottom: 10px;
  }

  .profile-card .btn.save {
    background-color: #28a745;
    color: white;
  }

  .profile-card .btn.save:hover {
    background-color: #218838;
  }

  .profile-card .btn.back {
    background-color: #ff4d3f;
    color: white;
  }

  .profile-card .btn.back:hover {
    background-color: #e6382f;
  }

  .profile-card .success-message {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 15px;
  }

  /* ----------------- RESPONSIVE ----------------- */
  @media (max-width: 1440px) {
    #nav-menu .lang-switch,
    #nav-menu .instagram-btn {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        align-items: center;
        font-size: 0.8em;
    }

    #nav-menu .lang-switch {
      gap: 10px;
    }

    #nav-menu .instagram-btn {
      flex-direction: row;
    }

    .desktop-only {
        display: none !important;
      }

    .mobile-only {
        display: flex !important;
        justify-content: center;
        margin-top: 10px;
    }
    header{
      font-size: 0.9em;
    }

    .hero {
        width: 95%;
      }
    .hero h1 {
      font-size: 2em;
    }
    .hero p {
      font-size: 1em;
    }
    .section h2 {
      font-size: 1.6em;
    }
    .section p {
      font-size: 1em;
    }
  }

  @media (max-width: 768px) {
    .logo {
      width: 90%;
      text-align: left;
      margin: 0 auto;
    }
    .logo a {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
    }
    header, footer {
      flex-direction: column;
      text-align: center;
      padding: 15px;
    }
    nav ul {
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }
    nav ul li {
      margin: 10px 0;
    }
    .lang-switch {
      margin: 10px 0;
    }
    .section {
      padding: 40px 15px;
      margin: 10px;
    }
    .contact-form {
      width: 90%;
    }
    .instagram-btn {
      padding: 8px 12px;
      font-size: 0.9em;
      gap: 8px;
      width: fit-content;
      margin: 0 auto;
    }
    .instagram-btn img {
      width: 30px;
      height: 30px;
    }
    .instagram-btn span {
      font-size: 0.9em;
    }
  }

  @media (max-width: 480px) {
    .logo {
      width: 100%;
    }
    .logo a {
      font-size: 0.5em;
      margin-left: 15px;
    }

    .logo a:hover {
        transform: scale(1.1);
        margin-left: 2vh;
        color: #FFD700;
      }

    nav ul {
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 10px 0;
    }
    nav ul li {
      margin: 8px 0;
    }
    .lang-switch {
      justify-content: center;
      margin-top: 10px;
    }
    .hero {
        width: 90%;
      }
    .hero h1 {
      font-size: 1.8em;
    }
    .hero p {
      font-size: 1.2em;
    }
    .section {
      padding: 5px 5px;
      margin: 10px;
    }
    .hero-content-contact {
      font-size: 0.8em;
    }

    .btn {
      width: 80%;
      font-size: 1em;
    }
    .whatsapp-box, .contact-box {
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      max-width: 100%;
    }
    .whatsapp-box img, .contact-box img {
      width: 50px;
      height: 50px;
    }
    .whatsapp-box span, .contact-box span {
      font-size: 1em;
      text-align: center;
    }
    footer {
      font-size: 0.5em;
    }
    .instagram-btn {
      width: 70%;
      justify-content: center;
      font-size: 0.9em;
    }
  }



